<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load tags %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>PAS</title>
  </head>

  <body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PAS</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse flex-grow-1 text-right"
          id="collapsibleNavbar"
        >
          <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock nav %}

    <div class="container-fluid mt-4">{% block body %}{% endblock body %}</div>
  </body>
</html>
