{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class='col-md-6'>
            <h1>{{district_code}}</h1>
        </div>
        <div class="col-md-6 action-button-group">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'school:edit_district' district_code %}">Edit District</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'school:create_school' %}">Create School</a>
                    <a class="dropdown-item" href="{% url 'school:create_student' %}">Enroll Student</a>
                    <a class="dropdown-item" href="{% url 'school:create_principal' %}">Create Principal</a>
                    <a class="dropdown-item" href="{% url 'school:create_principal_appraisal' %}">Create Principal
                        Appraisal</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <div class='stat'>{{school_count}}</div>
                    <div class='stat-label'>Schools</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <div class='stat'>{{teacher_count}}</div>
                    <div class='stat-label'>Teachers</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <div class='stat'>{{student_count}}</div>
                    <div class='stat-label'>Students</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Schools
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>School code</th>
                            <th>School name</th>
                            <th>Teacher count</th>
                            <th>Student count</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>School code</th>
                            <th>School name</th>
                            <th>Teacher count</th>
                            <th>Student count</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for school in schools %}
                        <tr class='clickable-row' data-href="/school/school_details/{{school.school_code}}">
                            <td>{{school.school_code}}</td>
                            <td>{{school.school_name}}</td>
                            <td>{{school.teacher_count}}</td>
                            <td>{{school.student_count}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Principals
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Principal name</th>
                            <th>School name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>School code</th>
                            <th>School name</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for principal in principals %}
                        <tr>
                            <td>{{principal.name}}</td>
                            <td>{{principal.school_name}}</td>
                            <td>
                                <a href="{% url 'school:edit_principal' principal.id %}"><Button
                                        class="btn btn-primary">Edit</Button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Principal Appraisals
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Principal name</th>
                            <th>Appraisal period</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Principal name</th>
                            <th>Appraisal period</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for appraisal in principal_appraisals %}
                        <tr>
                            <td>{{appraisal.principal.first_name}} {{appraisal.principal.last_name}}</td>
                            <td>{{appraisal.evaluation_period_start}} - {{appraisal.evaluation_period_end}}</td>
                            <td>
                                <a href="{% url 'school:edit_principal_appraisal' appraisal.id %}"><Button
                                        class="btn btn-primary">Edit</Button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}