{% extends "base.html" %} {% load crispy_forms_filters %} {% load
crispy_forms_tags %} {% block page_content %}
<!-- This form handles the creation of schools in each district.
The error handling needs to be reviewed for now, it takes the error messaged passed as a dictionary
from the school view and displays to the user preventing duplicate data entry.
The form is redirected to the home page of the app when a data is inserted to prevent double insert
of the same data which is also handled by the error message displayed.
-->
<main>
  <div class="row">
    <div class="col-6">
      <h1>National Enrollment and School Capacity</h1>
    </div>
    <div class="col-md-6 action-button-group">
      <a href="{% url 'surveillance:create-aggregate-enrollment' %}"
        ><button type="button" class="btn btn-success mb-2">
          Add Record
        </button></a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">
          <!-- TO DO :
                  Make table updatable -->
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" max-width="100%">
              <thead>
                <tr>
                  <th>Name of School</th>
                  <th>Academic Year</th>
                  <th>Category of School</th>
                  <th>District of School</th>
                  <th>Capacity of school</th>
                  <th>Total enrollment</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for record in enrollments %}
                <tr>
                  <td>{{ record.name_of_school }}</td>
                  <td>{{ record.academic_year }}</td>
                  <td>{{ record.category_of_school }}</td>
                  <td>{{ record.district_of_school }}</td>
                  <td>{{ record.capacity_of_school }}</td>
                  <td>{{ record.total_enrollment }}</td>
                  <td>
                    <a
                      class="btn btn-primary"
                      href="{% url 'surveillance:update-aggregate-enrollment' record.id %}"
                      ><i class="fas fa-pencil-alt"></i> Edit</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock%}
