{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<main>
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card mb-4">
                <div class="card-body">Compare Trends of Enrollments within Schools in a District<br />
                    {% if error_message %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                    {% endif%}
                    <form action="" method="POST">
                        {% csrf_token %}

                       <label class="small mb-1" for="district">District</label>
                                <select name="district_name" class="form-control" id="district" required>
                                    <option value="" selected>[Choose Here]</option>
                                    {% for item in districts_lists %}
                                    <option value="{{ item.id }}">{{ item.district_name }}</option>
                                    {% endfor %}
                                </select>

                        <br />
                        <br />
                        <br />
                         <label class="small mb-1" for="year">Academic year</label>
                                <select name="year" class="form-control" id="year" required>
                                    <option value="" selected>[Choose Here]</option>
                                    {% for item in year_list %}
                                    <option value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>

                        <br /><input type="submit" name="submit" class="btn btn-danger" value="Get Trend" />
                    </form>
                </div>
            </div>
        </div>


     <div class="col-xl-8 col-md-8">
            <div class="card-footer d-flex align-items-center justify-content-between">
               {% if request.POST %}
                    {% if graph %}
                    <img src="data:image/png;base64, {{ graph | safe}}" alt="analysis Image" />
                    {%endif%}
                    {% endif%}

            </div>
        </div>


    </div>


</main>
{% endblock page_content %}

