{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<main>
  <div class="row">
      <div class="col-xl-4 col-md-4">
          <div class="card bg-secondary text-white mb-4">
              <div class="card-body">District Enrollment / School Capacity<br/>
                <h1 class ="text-info">{% if error_message %} {{ error_message }} {% endif%}</h1></div>
              <div class="card-footer d-flex align-items-center justify-content-between">
               <form action="" method="POST">
                   {% csrf_token %}

                            <label class="small mb-1" for="district"> Get table by district</label>
                            <select name ="district_name" id = "district">
                                <option value ="" selected>[Choose Here]</option>
                                {% for item in districts_names %}
                                <option value = {{ item.id }} > {{ item.district_name }}</option>
                                {% endfor %}
                            </select>


                   <br/><input type ="submit" name ="submit" class ="btn btn-primary" value="Get Data"/>
               </form>
              </div>
          </div>
      </div>


          <div class="col-xl-8 col-md-8">
          <div class="card bg-primary text-white mb-4">
              <div class="card-body"><h3>District {{district_selected | safe }} Primary & Secondary Schools</h3>
                  <!--<p>District one has a total of {{ primary_schools }} primary schools and {{ number_of_secondary }} secondary schools</p>-->
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <div class="card mb-4">
                      <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" max-width="100%">
                                <thead>
                                <tr>
                                     <th>Name of School</th>
                                    <th>Academic Year</th>
                                    <th>Category of School</th>
                                    <th>Grade</th>
                                    <th>Sex</th>
                                    <th>Minimum Age</th>
                                    <th>Maximum Age</th>
                                    <th>Enrollment</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name of School</th>
                                    <th>Academic Year</th>
                                    <th>Category of School</th>
                                    <th>Grade</th>
                                    <th>Sex</th>
                                    <th>Minimum Age</th>
                                    <th>Maximum Age</th>
                                    <th>Enrollment</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for school in data %}
                                    <tr>
                                        <td>{{ school.school }}</td>
                                        <td>{{ school.year }}</td>
                                        <td>{{ school.category_of_school }}</td>
                                        <td>{{ school.grade }}</td>
                                        <td>{{ school.sex}}</td>
                                        <td>{{ school.minimum_age}}</td>
                                        <td>{{ school.maximum_age}}</td>
                                        <td>{{ school.enrollment}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


</main>
{% endblock page_content %}