{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<main>
    <div class="row">

  <div class="col-xl-4 col-md-4">
            <div class="card mb-4">
                <div class="card-body">Compare Enrollments within Grades in a School for an academic year<br />
                <em class ='text-danger'>Red markers = total enrollment not recorded by sex of children</em><br/>
                <em class ='text-primary'>Blue markers = total boys enrollments </em><br/>
                <em class ='text-success'>Green markers = total girls enrollments</em><br/>
                    {% if error_message %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                    {% endif%}
                    <form action="" method="POST">
                        {% csrf_token %}
                                <label class="small mb-1" for="school">Select a school</label>
                                <select name="school_name" id="school" class ='form-control' required>
                                    <option value="" selected>[Choose Here]</option>
                                    {% for item in schools %}
                                    <option value="{{ item.id}}">{{ item.school_name}}</option>
                                    {% endfor %}
                                </select>
                        <br />
                        <br />
                                <label class="small mb-1" for="year">Academic year</label>
                                <select name="year" id="year" required class ='form-control'>
                                    <option value="" selected>[Choose Here]</option>
                                    {% for item in year_list %}
                                    <option value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>

                        <br /><br/><input type="submit" name="submit" class="btn btn-primary" value="Get Trend" />
                    </form>
                </div>
            </div>
        </div>
       <div class="col-xl-8 col-md-8">
            <div class="card-footer d-flex align-items-center justify-content-between">
               {% if request.POST %}
                    {% if graph %}
                    <img src="data:image/png;base64, {{ graph | safe}}" alt="No record found" />
                    {%endif%}
                    {% endif%}

            </div>
        </div>
    </div>


</main>
{% endblock page_content %}