{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<form method="POST" class="post-form" action="">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Enrollment by Grade and Gender</h3>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="grade">Grade:</label>
    <div class="col-sm-4">
       <select name = "grade" id ="grade">
            <option value ="{{ school_to_update.grade }}" selected>{{ school_to_update.grade}}</option>
            <option value = "grade k">Grade K</option>
            <option value = "grade 1">Grade 1</option>
            <option value = "grade 2">Grade 2</option>
            <option value = "grade 3">Grade 3</option>
            <option value = "grade 4">Grade 4</option>
            <option value = "grade 5">Grade 5</option>
            <option value = "grade 6">Grade 6</option>
            <option value = "form 1">Form 1</option>
            <option value = "form 2">Form 2</option>
            <option value = "form 3">Form 3</option>
            <option value = "form 4">Form 4</option>
            <option value = "form 5">Form 5</option>
            <option value = "form 6 L1">Form 6 L1</option>
            <option value = "form 6 L2">Form 6 L2</option>

        </select>

    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="enrollment">Enrollment:</label>
    <div class="col-sm-4">
        <input type="text" name="enrollment" id="enrollment" required maxlength="254"
               value="{{ school_to_update.enrollment}}" />
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="sex">Sex:</label>
    <div class="col-sm-4">
       <select name ="sex" id ="sex">
            <option value ="{{ school_to_update.sex }}" selected>{{ school_to_update.sex }}</option>
            <option value = "male">Male</option>
            <option value = "female">Female</option>

        </select>

    </div>
  </div>

   <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="minimum_age">Minimum Age:</label>
    <div class="col-sm-4">
        <input type="number" name="minimum_age" id="minimum_age" required maxlength="254"
               value="{{ school_to_update.minimum_age}}" />
    </div>
  </div>

         <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="maximum_age">Maximum Age:</label>
    <div class="col-sm-4">
        <input type="number" name="maximum_age" id="maximum_age" required maxlength="254"
               value="{{ school_to_update.maximum_age}}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
{% endblock %}