{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<!-- This form handles the creation of schools in each district.
The error handling needs to be reviewed for now, it takes the error messaged passed as a dictionary
from the school view and displays to the user preventing duplicate data entry.
The form is redirected to the home page of the app when a data is inserted to prevent double insert
of the same data which is also handled by the error message displayed.
-->
<main>
<div class="row">

     <div class="col-xl-5 col-md-5">
          <div class="card bg-transparent container-fluid text-dark mb-4">
              <div class="card-body"><h3>National Education Expenditure</h3>
           {% if error_message %}
                        <div class ="alert alert-danger alert-dismissible fade show" role = "alert">
                        {{ error_message }}
                        <button type = "button" class = "btn-close" data-bs-dismiss ="alert" aria-label ="close"></button>
                        </div>
                    {% endif%}
              </div>
                   <form method="post" action="">
                       {% csrf_token %}
                       {{ form | crispy }}
                       <br/><input type="submit" value="Submit" class ="btn btn-lg btn-primary">
                   </form>

              </div>
              <div class="card-footer d-flex align-items-center justify-content-between">

      </div>
  </div>

      <div class="col-xl-7 col-md-7">
          <div class="card bg-primary text-white mb-4">
              <div class="card-body"><h3>Education Expenditure</h3>
                  <!-- TO DO :
                  Make table updatable -->
                        <div class="table-responsive card bg-body mb-4">
                            <table class="table table-bordered" id="dataTable" max-width="100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Academic Year</th>
                                    <th>Educational Expenditure (million XCD)</th>
                                    <th>GDP (million XCD)</th>
                                    <th>Government Expenditure (million XCD)</th>
                                    <th>Primary School Expenditure (million XCD)</th>
                                    <th>Secondary School Expenditure (million XCD)</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                     <th>Id</th>
                                    <th>Academic Year</th>
                                    <th>Educational Expenditure (million XCD)</th>
                                    <th>GDP (million XCD)</th>
                                    <th>Government Expenditure (million XCD)</th>
                                    <th>Primary School Expenditure (million XCD)</th>
                                    <th>Secondary School Expenditure (million XCD)</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for item  in expenditure_data %}
                                    <tr>
                                       <td>{{ item.id }}</td>
                                        <td>{{ item.academic_year }}</td>
                                        <td>{{ item.educational_expenditure }}</td>
                                        <td>{{ item.gdp_millions }}</td>
                                        <td>{{ item.government_expenditure }}</td>
                                        <td>{{ item.primary_school_expenditure }}</td>
                                        <td>{{ item.secondary_school_expenditure }}</td>
                                     <td>
                                        <a href="/historical/update_national_expenditure/{{ item.id}}">
                                            <i class="fas fa-pencil-alt"></i>Edit</a>
                                     </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <div class="card mb-4">

                  </div>
              </div>
          </div>
      </div>



</div>
</main>





{% endblock%}