{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<!-- This form handles the creation of schools in each district.
The error handling needs to be reviewed for now, it takes the error messaged passed as a dictionary
from the school view and displays to the user preventing duplicate data entry.
The form is redirected to the home page of the app when a data is inserted to prevent double insert
of the same data which is also handled by the error message displayed.
-->
<main>
<div class="row">
  <div class="col-xl-12 col-md-12">
     <div class="card mb-4">
                <div class="card-body">

                     <form method = "POST" action="">
                         {% csrf_token %}
                        <input type="submit" name="national_census_trend" class="btn btn-secondary btn-block" value="Get Education Census distribution" />
                        <br/><br/>

                    </form>


                </div>
            </div>
        </div>
</div>

    <div class="row">

        <div class="col-xl-5 col-md-5">
            <div class="card bg-transparent container-fluid text-dark mb-4">
                <div class="card-body">
                    <h3>National Education Census</h3>
                    {% if error_message %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                    {% endif%}
                </div>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br /><input type="submit" value="Submit" class="btn btn-lg btn-primary">
                </form>

            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">

            </div>
        </div>

        <div class="col-xl-7 col-md-7">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h3>Education Census by age group</h3>
                    <!-- TO DO :
                  Make table updatable -->
                    <div class="table-responsive card bg-body mb-4">
                        <table class="table table-bordered" id="dataTable" max-width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Academic Year</th>
                                    <th>3- 4 years</th>
                                    <th>5 - 11 years</th>
                                    <th>12 - 16 years</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Academic Year</th>
                                    <th>3- 4 years</th>
                                    <th>5 - 11 years</th>
                                    <th>12 - 16 years</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for item in census_data %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.academic_year }}</td>
                                    <td>{{ item.age_3_to_4_years }}</td>
                                    <td>{{ item.age_5_to_11_years }}</td>
                                    <td>{{ item.age_12_to_16_years }}</td>
                                    <td>
                                        <a href="/historical/update_national_census/{{ item.id}}"><i
                                                class="fas fa-pencil-alt"></i>Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="card mb-4">

                    </div>
                </div>
            </div>
        </div>



    </div>
</main>





{% endblock%}