﻿{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<main>
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-header">
                    <h5>Correlation between School Factors and Performance</h5>
                </div>
                <div class="card-body d-flex align-items-center justify-content-between">
                    Analysis on this page is limited to public primary schools. This category has the largest number of data points.
                    <br /><br />
                    Performance is measured by the proportion of students scoring above the national mean in the CEE.
                    <br /><br />
                    Since prior performance is generally a good predictor, it is included, labelled "previous".
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <table align="left" style="border: hidden;">
                            <tr>
                                <td style="border: hidden;">
                                    <button type="submit" name="submit" class="btn btn-primary" onClick="this.style.display = 'none'; var button = document.getElementById('correlation'); button.style.display = 'block'" value="Generate Correlation Table">
                                        Generate Correlation Table
                                    </button>
                                </td>
                                <td style="border: hidden;">
                                    <button disabled class="btn btn-primary" id="correlation" style="display: none">Generating table...</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="card bg-secondary text-white mb-4">
                <div class="card-header">
                    <h5>Non-linear Model</h5>
                </div>
                <div class="card-body d-flex align-items-center justify-content-between">
                    A random forest regressor is fitted to the data. 
                    <br /><br />
                    Although regression and classification are not very accurate on these data, feature importance may provide some useful insights.
                    <br /><br />
                    Drop-column feature importance is measured by the difference in out-of-bag error when excluding each feature. A randomly generated feature is included for comparison.
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <table align="left" style="border: hidden;">
                            <tr>
                                <td style="border: hidden;">
                                    <button type="submit" name="submit" class="btn btn-primary" onClick="this.style.display = 'none'; var button = document.getElementById('model'); button.style.display = 'block'" value="Build Model">
                                        Build Model
                                    </button>
                                </td>
                                <td style="border: hidden;">
                                    <button disabled class="btn btn-primary" div id="model" style="display: none">Building model...</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-md-8">
            <div class="card bg-white text-black mb-4">
                <div class="card-header">
                    <h1>{% if error_message %} {{ error_message }} </h1>
                    {% else %}
                    <h2>Factors Affecting School Performance</h2>
                    {% endif %}
                    {% if chart_title %}
                    <h3>{{chart_title }}</h3>
                    {% endif %}
                    {% if accuracy %}
                    R<sup>2</sup> Accuracy: {{accuracy}}
                    {% endif %}
                </div>
                <div class="card-body d-flex align-items-center justify-content-between">
                    {% if request.POST and graph %}
                    <img src="data:image/png;base64, {{ graph | safe}}" class="rounded mx-auto d-block" alt="analysis Image" />
                    {% else %}
                    Please select an option from the left to generate results.
                    {% endif %}
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <h5>Summary of factors:</h5>
                    <ul style="list-style-type: none;">
                        <li><b>enrollment</b>: The total enrollment of the school</li>
                        <li><b>trained_teachers</b>: The proportion of teachers that are trained</li>
                        <li><b>teachers</b>: The student/teacher ratio</li>
                        <li><b>feeding_program</b>: The proportion of students in the school feeding program</li>
                        <li><b>capacity</b>: The enrollment/capacity ratio</li>
                        <li><b>total_bursaries</b>: The proportion of students benefitting from bursaries</li>
                        <li><b>repeaters</b>: The proportion of students who are repeaters</li>
                        <li><b>girls</b>: The proportion of enrollment that is female </li>
                    </ul>
                </div>
            </div>
    </div>

</main>
{% endblock page_content %} 