{% extends "base.html" %} {% load crispy_forms_filters %} {% load
crispy_forms_tags %} {% block page_content %}
<!-- This form handles the creation of schools in each district.
The error handling needs to be reviewed for now, it takes the error messaged passed as a dictionary
from the school view and displays to the user preventing duplicate data entry.
The form is redirected to the home page of the app when a data is inserted to prevent double insert
of the same data which is also handled by the error message displayed.
-->
<main>
  <div class="row">
    <div class="col-md-6">
      <h1>Schools Directory</h1>
    </div>
    <div class="col-md-6 action-button-group">
      <a href="{% url 'surveillance:create-school' %}"
        ><button type="button" class="btn btn-success mb-2">
          Create School
        </button></a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" max-width="100%">
              <thead>
                <tr>
                  <th>School Code</th>
                  <th>Name of School</th>
                  <th>District of School</th>
                  <th>Category of School</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for item in schools %}
                <tr>
                  <td>{{ item.school_code }}</td>
                  <td>{{ item.school_name }}</td>
                  <td>{{ item.district_name }}</td>
                  <td>{{ item.category_of_school }}</td>
                  <td>
                    <a class="btn btn-primary" href="/historical/update_institution/{{ item.id}}"
                      ><i class="fas fa-pencil-alt"></i> Edit</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock%}
