{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}

<div class="container-fluid jumbotron">
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card mb-4 bg-secondary text-white">
                <div class="card-body">Getting Started</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    This App provides the data capture interface and analysis of Historical data
                    imported into the database. This App is expected to work well for the
                    following browser and versions / Mobile devices
                    <table>
                        <thead>
                            <tr>
                                <th>Browser</th>
                                <th>Version</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Google Chrome</td>
                                <td>>=60</td>
                            </tr>
                            <tr>
                                <td>FireFox</td>
                                <td>>=60</td>
                            </tr>
                            <tr>
                                <td>iOS</td>
                                <td>>=12</td>
                            </tr>
                            <tr>
                                <td>Safari</td>
                                <td>>=12</td>
                            </tr>
                            <tr>
                                <td>Explorer</td>
                                <td>>11</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
            <div class="card mb-4">
                <div class="card-body">Data Analysis Manual</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Data Entry Forms</p>
                    <p><strong><em>Create District : </em></strong> Allows the creation of district / update of created
                        districts</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}