{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}

<div class="container-fluid jumbotron">

      <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Getting Started</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p>Coming Soon....</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">Data Analysis Manual</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">

                                      <p> Coming Soon.... </p>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>
{% endblock%}


