{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_content %}
<main>
    <div class="row">
        {% if error_message or n_scores %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% if error_message %}
            Error: {{ error_message }}
            <br />
            {% endif %}
            {% if missing_fields %}
            <ul>
                {% for f in missing_fields %}
                <li>{{f}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if n_scores %}
            {{ n_scores }} records were successfully added.
            {% endif %}
            {% if failed %}
            {{ failed }} records could not be added.
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endif%}

        <div class="col-xl-7 col-md-7">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h4>Upload CEE file. </h4>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="cee_file">
                        <input type="submit" name="submit" value="Upload CEE Scores">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xl-7 col-md-7">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h4>Upload CSEC file. </h4>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="csec_file">
                        <input type="submit" name="submit" value="Upload CSEC Scores" />
                    </form>
                </div>
            </div>
         </div>

        <div class="col-xl-7 col-md-7">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h4>{{cee_count}} CEE Records </h4>
                    <ul class="list-group list-group-flush">
                        {% for item in cee_by_year %}
                        <li class="list-group-item">
                            <form action="" method="POST" onsubmit="return confirm('Are you sure you want to delete all records from time period {{ item }}?');">
                                {% csrf_token %}
                                <button type='submit' name='submit' value="delete_cee{{ item }}"> Delete </button>
                                Time Period: {{ item }}
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-7 col-md-7">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h4> {{csec_count}} CSEC Records </h4>
                    <ul class="list-group list-group-flush">
                        {% for item in csec_by_year %}
                        <li class="list-group-item">
                            <form action="" method="POST" onsubmit="return confirm('Are you sure you want to delete all records from time period {{ item }}?');">
                                {% csrf_token %}
                                <button type='submit' name='submit' value="delete_csec{{ item }}"> Delete </button>
                                Time Period: {{ item }}
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</main>





{% endblock%}