<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Education Policy Assistant</title>
    {% load static %}
    {% load tags %}
    <!-- jQuery library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>

{% _get_user_context request as user_context %}

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PAS</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if 'apps_permission' in user_context and 'school' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'school' in request.path and not 'historical' in request.path %} active {% endif %}" href="/school">Schools</a>
            </li>
            {% endif %}
            {% if 'apps_permission' in user_context and 'welfare' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'welfare' in request.path %} active {% endif %}" href="/welfare">Welfare</a>
            </li>
            {% endif %}
            {% if 'apps_permission' in user_context and 'historical' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'historical' in request.path %} active {% endif %}"
                    href="/historical">Historical</a>
            </li>
            {% endif %}
            {% if 'apps_permission' in user_context and 'authentication' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'auth' in request.path %} active {% endif %}"
                    href="/auth/sysadmin/users">Authentication</a>
            </li>
            {% endif %}
        </ul>
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    {% if 'school' in request.path and not 'welfare' in request.path and not 'historical' in request.path %}
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Schools</div>
                        {% if side_nav.show_all_districts %}
                        <a class="nav-link" href="/school/districts">All Districts</a>
                        {% endif %}
                        {% for district in side_nav.districts %}
                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                            data-target="#district{{district.district_code|remove_spaces}}" aria-expanded="false"
                            aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            {{district.district_name}}
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="district{{district.district_code|remove_spaces}}"
                            aria-labelledby="headingTwo" data-parent="#sidenavAccordion">

                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                {% if side_nav.show_district_summary %}
                                <a class="nav-link" href="/school/district/{{district.district_code}}">District
                                    Summary</a>
                                {% endif %}
                                {% for school in district.schools %}
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#school{{school.school_code|remove_spaces}}" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    {{school.school_name}}
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="school{{school.school_code|remove_spaces}}"
                                    aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        {% if side_nav.show_school_summary %}
                                        <a class="nav-link" href="/school/school_details/{{school.school_code}}">School
                                            Summary</a>
                                        {% endif %}
                                        {% for teacher in school.teachers %}
                                        <a class="nav-link"
                                            href="/school/teacher/{{teacher.teacher_code}}">{{teacher.teacher_name}}</a>
                                        {% endfor %}
                                    </nav>
                                </div>
                                {% endfor %}
                            </nav>

                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if 'welfare' in request.path %}
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Welfare</div>
                        {% if side_nav.show_all_districts %}
                        <a class="nav-link" href="/welfare/districts">All Districts</a>
                        {% endif %}
                        {% for district in side_nav.districts %}
                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                            data-target="#district{{district.district_code|remove_spaces}}" aria-expanded="false"
                            aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            {{district.district_name}}
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="district{{district.district_code|remove_spaces}}"
                            aria-labelledby="headingTwo" data-parent="#sidenavAccordion">

                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                {% if side_nav.show_district_summary %}
                                <a class="nav-link" href="/welfare/district/{{district.district_code}}">District
                                    Welfare Summary</a>
                                {% endif %}
                                {% for school in district.schools %}
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#school{{school.school_code|remove_spaces}}" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    {{school.school_name}}
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="school{{school.school_code|remove_spaces}}"
                                    aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        {% if side_nav.show_school_summary %}
                                        <a class="nav-link" href="/welfare/school/{{school.school_code}}">School
                                            Welfare Summary</a>
                                        {% endif %}
                                    </nav>
                                </div>
                                {% endfor %}
                            </nav>

                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if 'historical' in request.path %}
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Data Entry</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Forms & Entries
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'surveillance:districts' %}">Districts</a>
                                <a class="nav-link" href="{% url 'surveillance:schools' %}">Schools</a>
                                <a class="nav-link" href="{% url 'surveillance:enrollments' %}">National Enrollment by Grade and
                                    Sex</a>
                                <a class="nav-link" href="{% url 'surveillance:aggregate-enrollments' %}">National Enrollment and School
                                    Capacity</a>

                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Data</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExams"
                            aria-expanded="false" aria-controls="collapseExams">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Examinations
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="collapseExams" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">


                                <a class="nav-link" href="{% url 'surveillance:cee-results' %}">Grade 6 National Examination</a>
                                <a class="nav-link" href="{% url 'surveillance:csec-results' %}">Form 5 Exit Examination</a>

                                <a class="nav-link" href="/historical/upload_scores">Upload Exam Scores</a>
                                <a class="nav-link" href="/historical/district_performance">District Comparison</a>
                                <a class="nav-link" href="/historical/primary_performance">Performance Factors</a>
                                <a class="nav-link" href="/historical/examination_summary">Examination Summary</a>


                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Filters / Analysis
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Capacity
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/historical/enrolled_district">
                                            District Enrollment / Capacity</a><br />
                                        <a class="nav-link" href="/historical/district_trend">
                                            Enrollment / Capacity by School Trend </a><br />
                                        <a class="nav-link" href="/historical/compare_trends">
                                            Enrollment / Capacity by District Trend </a><br />

                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Grade - Gender
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/historical/district_grade">
                                            District Enrollment / Grade </a><br />
                                        <a class="nav-link" href="/historical/district_grade_school">
                                            Enrollment / Grade by School </a><br />
                                        <a class="nav-link" href="/historical/district_category_school">
                                            Enrollment / Grade by District Trend </a><br />

                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#pagesCollapseNational" aria-expanded="false"
                                    aria-controls="pagesCollapseNational">
                                    National Aggregates
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseNational" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/historical/national_gender_enrollment">
                                            National Gender Based Enrollments </a><br />
                                        <a class="nav-link" href="/historical/national_education_census">
                                            Education Census </a><br />
                                        <a class="nav-link" href="/historical/national_education_expenditure">
                                            Expenditure per Student </a><br />
                                        <a class="nav-link" href="/historical/national_teacher_ratio">
                                            National Teacher / Student Ratio </a><br />
                                        <a class="nav-link" href="/historical/enrollment_summary"><br />
                                            Enrollment Summary</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#pagesCollapseOutlier" aria-expanded="false"
                                    aria-controls="pagesCollapseOutlier">
                                    Outlier Detection
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseOutlier" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/historical/outlier_district">
                                            District Level </a><br />
                                        <a class="nav-link" href="/historical/outlier_national">
                                            National Level </a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#pagesCollapseBoxPlot" aria-expanded="false"
                                    aria-controls="pagesCollapseBoxPlot">
                                    Box Plots
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseBoxPlot" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/historical/boxplot_district">
                                            District Level Enrollment </a><br />
                                        <a class="nav-link" href="/historical/boxplot_national">
                                            National Level Enrollment </a><br />

                                    </nav>
                                </div>

                            </nav>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'auth' in request.path %}
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">System Admin</div>
                        <a class="nav-link" href="{% url 'authentication:user-directory' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            User Directory
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#createUsers"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Create User
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="createUsers" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/auth/sysadmin/users/create/school_admin">Create School
                                    Administrator</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/teacher">Create
                                    Teacher</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/principal">Create
                                    Principal</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/district_officer">Create District
                                    Education Officer</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/school_superviser">Create School
                                    Superviser</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/stat_admin">Create
                                    Statistician
                                    Admin</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/evaluation_admin">Create
                                    Evaluation
                                    Admin</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/early_childhood_educator">Create
                                    Early
                                    Childhood Educator</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/support_services_admin">Create
                                    Support
                                    Services Admin</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/external_accessor">Create External
                                    Accessor</a>
                                <a class="nav-link" href="/auth/sysadmin/users/create/custom_user">Create Custom
                                    User</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="{% url 'authentication:user-detail' user.id%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            User Profile
                        </a>

                    </div>
                    {% endif %}
                </div>
                <div class="sb-sidenav-footer">
                    {% if user.is_authenticated %}
                    <div class="small">Logged in as: {{user.username}}</div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid mt-4">
                    {% block page_content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>

</html>
