<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Education Policy Assistant</title>
    {% load static %}
    {% load get_user_context %}

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
</head>

{% _get_user_context request as user_context %}

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EMIS</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if 'apps_permission' in user_context and 'school' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'school' in request.path %} active {% endif %}" href="/school">Schools</a>
            </li>
            {% endif %}
            {% if 'apps_permission' in user_context and 'welfare' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'welfare' in request.path %} active {% endif %}" href="#">Welfare</a>
            </li>
            {% endif %}
            {% if 'apps_permission' in user_context and 'historical' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'historical' in request.path %} active {% endif %}"
                    href="/historical">Historical</a>
            </li>
            {% endif %}
            {% if 'apps_permission' in user_context and 'authentication' in user_context.apps_permission %}
            <li class="nav-item">
                <a class="nav-link {% if 'auth' in request.path %} active {% endif %}"
                    href="/auth/sysadmin/users">Authentication</a>
            </li>
            {% endif %}
        </ul>
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    {% if 'school' in request.path %}
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Forms</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Data Entry forms
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/">Form1</a>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Districts</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Districts
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" href="/school/districts">All
                                    Districts</a>
                                {% for district in side_nav %}
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#{{district.district_code}}" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    {{district.district_name}}
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="{{district.district_code}}" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/school/district/{{district.district_code}}">District
                                            Summary</a>
                                        {% for school in district.schools %}
                                        <a class="nav-link"
                                            href="/school/school_details/{{school.school_code}}">{{school.school_name}}</a>
                                        {% endfor %}
                                    </nav>
                                </div>
                                {% endfor %}
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'historical' in request.path %}
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Forms</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Data Entry forms
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/historical/district">Create Districts</a>
                                <a class="nav-link" href="/historical/school">Create Schools</a>
                                <a class="nav-link" href="/historical/enrollment">Enrollment History</a>
                                <a class="nav-link" href="/historical/enroll_class">Enrollment / School Capacity</a>
                                <a class="nav-link" href="/historical">Dropouts</a>
                                <a class="nav-link" href="/historical">Teachers and Qualifications</a>
                                <a class="nav-link" href="/historical">Accomodations</a>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Data</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Enrollments
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    School Capacity
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/historical/enrolled">National Enrollment /
                                            Capacity</a>
                                        <a class="nav-link" href="/historical/enrolled_district">District Enrollment /
                                            Capacity</a>
                                        <a class="nav-link" href="/historical/district_trend">Enrollment / Capacity by
                                            School Trend</a>
                                        <a class="nav-link" href="/historical/compare_trends">Enrollment / Capacity by
                                            District Trend</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Grade/School
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                    data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/historical/enrolled_grade">National Enrollment /
                                            Grade</a>
                                        <a class="nav-link" href="/historical/district_grade">District Enrollment /
                                            Grade</a>
                                        <a class="nav-link" href="/historical/#">Enrollment / Grade by School Trend</a>
                                        <a class="nav-link" href="/historical/#">Enrollment / Grade by District
                                            Trend</a>
                                        <a class="nav-link" href="/historical/#">Enrollment Summary</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'auth' in request.path %}
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">System Admin</div>
                        <a class="nav-link" href="{% url 'authentication:user-directory' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            User Directory
                        </a>
                        <a class="nav-link" href="{% url 'authentication:create-user' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Create User
                        </a>
                        <a class="nav-link" href="{% url 'authentication:user-detail' user.id%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            User Profile
                        </a>

                    </div>
                    {% endif %}
                </div>
                <div class="sb-sidenav-footer">
                    {% if user.is_authenticated %}
                    <div class="small">Logged in as: {{user.username}}</div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid mt-4">
                    {% block page_content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>

</html>