{% extends "web_app/base.html" %} {% block body %}
<div class="container-fluid">
  <h1>User Directory</h1>

  <form class="mt-5">
    <div class="form-group">
      <div class="input-group mb-3">
        
        <input type="text" class="form-control" id="user-search-term" placeholder="search for username, email, first name etc...">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Search</button>
        </div>
      </div>
    </div>
  </form>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Is Super User</th>
     <th scope="col">Is Active</th>
    </tr>
  </thead>
  <tbody>
  {% for user in user_list %}
    <tr>
        <td> {{ user.id }}</td>
        <td> {{ user.username }}</td>
        <td> {{ user.email }}</td>
        <td> {{ user.first_name }}</td>
        <td> {{ user.last_name }}</td>
        <td> {{ user.is_superuser }}</td>
        <td> {{ user.is_active }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <table>

</div>
{% endblock body %}
