{% extends "web_app/base.html" %} {% block body %}
{% load crispy_forms_tags %}

<h1> Create User </h1>
{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

    <form method="post" >
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary" type="submit" name="submit" value="Create User" /></td>
        <a href="{% url 'sysadmin:user-directory' %}"><button class="btn btn-secondary" type="button">Back to User Directory</button></a>
    </form>

{% endblock body %}