{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class='col-md-6'>
            <h1>{{district_name}}</h1>
        </div>
        {% if can_view_service_defs %}
        <div class="col-md-6 action-button-group">
            <a href="{% url 'welfare:view_services' %}"><button type="button"
                class="btn btn-success mb-2">View Service Definitions</button></a>
        </div>
        {% endif %}
    </div>
    


</div>
{% endblock page_content %}