{% extends "welfare_base.html" %}
{% block page_title %}
<h1>{{school_name}}</h1>
{% endblock %}
{% block table_details %}
<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Student last name</th>
            <th>Student first name</th>
            <th>Class</th>
            <th>Sex</th>
            <th>Using services?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.student_last_name}}</td>
            <td>{{student.student_first_name}}</td>
            <td>{{student.student_class}}</td>
            <td>{{student.student_sex}}</td>
            <td>{{student.student_has_services}}</td>
            <td><a href="/welfare/student/{{student.student_id}}"><button type="button"
                class="btn btn-primary mb-2">Details</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table_details %}